.table-bordered td,
.table-bordered th {
  padding: 10px;
}

.table-bordered th {
  position: relative;
  border-bottom: 1px solid #000;
}

.table-bordered th .sort-arrow {
  position: absolute;
  top: 50%;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.table-bordered th:hover .sort-arrow {
  opacity: 1;
}

.table-bordered th.sort-asc .sort-arrow {
  left: 5px;
  transform: translateY(-50%);
}

.table-bordered th.sort-desc .sort-arrow {
  right: 5px;
  transform: translateY(-50%);
}

.table-bordered td.text-right,
.table-bordered th.text-right {
  text-align: right;
}

.right-corner-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.right-corner-buttons button {
  margin-left: 5px;
}

.right-corner-buttons button.active {
  background-color: #333;
  color: #fff;
}

.right-corner-buttons button:last-child {
  margin-left: 10px;
}

.right-corner-buttons select {
  margin-left: 5px;
}

.right-corner-buttons select:last-child {
  margin-left: 10px;
}

.table-container {
  margin-top: 10px;
}
